<% layout('layout/boilerplate') -%>
<div class="row">
        <div class="col-lg-6">
            <h1><%= product.product_name  %></h1>
            <div class="card" style="width: 18rem;">
                <img src="<%= product.img %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= product.product_name %></h5>
                  <p class="card-text"><%= product.desc %></p>
                  <p class="card-text"><%= product.price %></p>
                  <a href="#" class="btn btn-primary">buy now</a>
                  <a href="/p1/product/edit/<%= product._id %>" class="btn btn-success">Edit</a>
                  <form action="/p1/product/<%= product._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form>
                </div>
              </div>
        </div>
        <div class="col-lg-6">
            <h1>Review</h1>
            <form action="/p1/review/data/<%= product._id %>" method="POST">
                <div class="form-group">
                  <label for="comment">Review</label>
                  <textarea type="text" class="form-control" id="comment" placeholder="Enter comment" name="comment"></textarea>
                </div>
                <div class="form-group">
                    <label for="customRange3" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="0" max="5" step="1" id="customRange3" name="rating">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              <% for(let review of product.reviews){ %>
                <div class="card w-75">
                  <div class="card-body">
                    <h5 class="card-title"><%= review.rating  %></h5>
                    <p class="card-text"><%= review.comment  %></p>
                    <a href="#" class="btn btn-danger">Delete</a>
                  </div>
                </div>
              <% } %>
        </div>
</div>

  