<% layout('layout/boilerplate.ejs') -%>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="<%= product.productImg  %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= product.productName  %></h5>
      <p class="card-text"><%=product.productdesc%></p>
      <p class="card-text"><%=product.productprice%></p>
      <a href="#" class="btn btn-success">Buy Now</a>
      <a href="/product/edit/<%= product._id%>" class="btn btn-primary">Edit</a>
      <form action="/product/delete/<%= product._id%>?_method=DELETE" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>