<% layout('layout/boilerplate.ejs') -%>
<% for(product of products){ %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%=product.productImg%>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= product.productname %></h5>
          <h6><%= product.productdescription %></h6>
          <p class="card-text"><%= product.productprice  %></p>
          <a href="#" class="btn btn-success">Buy Now</a>
          <a href="#" class="btn btn-danger">Add To Cart</a>
          <a href="/product/single/<%= product._id%>" class="btn btn-warning">Show</a>
        </div>
      </div>
<% } %>